# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: create branch vercel
        run: git branch vercel-deploy -f
      - name: check branch vercel
        run: git checkout vercel-deploy
      - name: run npm install
        run: npm install
      - name: run npm build
        run: npm run build
      - name: run git config
        run: git config advice.addIgnoredFile false
      - name: run git add
        run: git add *
      - name: run git commit
        run: git commit -m "update vercel"
      - name: run git push
        run: git push -u origin vercel-deploy
